$color: #D0D0D0;
$inside: inside;
$center: center;

.style1 {
    text-align: $center;
}

a {
    padding: 5px;
    color:black;
}

a:hover {
    color:gray;
}

body {
    background-color: $color;
}
